<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>{{title}} - Rock, Paper, Scissors</title>
    </head>
    <body>
        
    
    <h1>Rock, Paper, Scissors!</h1>

    <form action="/play-game" method="post">
        <label for="name">Player 1 Name</label>
        <input type="text" name="title" id="title">
        <input type="submit" value="Submit">
    </form>

    <form action="/play-game" method="get">
        <label for="choice">Choice</label>
        <input type="text" name="title" id="title">
        <input type="submit" value="Submit">
    </form>

    <form action="/play-game" method="post">
        <label for="name">Player 2 Name</label>
        <input type="text" name="title" id="title">
        <input type="submit" value="Submit">
    </form>

    <form action="/play-game" method="get">
        <label for="choice">Choice</label>
        <input type="text" name="title" id="title">
        <input type="submit" value="Submit">
    </form>




    {% for player in players %}
        <div>
            <p>
                {{player.name}}
                
            </p>
        </div>
        {% endfor %}

    
    </body>