<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>{{title}} - Rock, Paper, Scissors</title>
    </head>
    <body>
        <header>    <h1>Rock, Paper, Scissors!</h1></header>


    <br>  
    <br>
    <h2>Player 1</h2>
    <br>
    <form action="/play-game" method="POST">
        <label for="player1_name">Name</label>
        <input type="text" name="player1_name" id="player1_name">

    <br>
    <select name="player1_choice" id="player1_choice">
        <option value="rock">Rock</option>
        <option value="paper">Paper</option>
        <option value="scissors">Scissors</option>
    </select>
    <br>
    <br>
    <h2>Player 2</h2>
    <br>
        <label for="player2_name">Name</label>
        <input type="text" name="player2_name" id="player2_name">


    <br>
    <select name="player2_choice" id="player2_choice">
        <option value="rock">Rock</option>
        <option value="paper">Paper</option>
        <option value="scissors">Scissors</option>
    </select>
    <input type="submit" value="Submit">
    </form>




   

    {{ result }}
        
   

    
    </body>